h1 {
  color: blue;
  text-align: center;
}

/****************************************************
Search Bar
*****************************************************/

.search-bar {
  text-align: center;
}

input.search-input {
  width: 500px;
  height: 30px;
  font-size: 20px;
}

input.search-button {
  width: 75px;
  height: 30px;
  font-size: 18px;
}

.search-results {
  width: 100%;
  height: 20px;
}



.container {
  width: 100%;
}

.all-users {
  float: left;
  width: 50%;
}

.sorting-buttons {
  float: left;
}

div, div button {
  margin: 20px 0;
}

.username {
  cursor: pointer;
}