
body {
  background-color: #181C65;
}

h1 {
  color: blue;
  text-align: center;
  font-family: "Times New Roman", Times, Serif;
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.main {
  background-color: azure;
  height: 710px;
  border-left-style: solid;
  border-left: thick;
  border-right-style: solid;
  border-right: thick;
}

/****************************************************
Search Bar
*****************************************************/

.search-bar {
  text-align: center;
}

input.search-input {
  width: 500px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
}

input.search-button {
  width: 75px;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
}

.search-results {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  color: green;
  font-size: 17px;
}

/****************************************************
How the different sorting options are displayed
*****************************************************/

div.sorting-menu {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

#sort-users {
  margin-right: 10px;
  color: black;
}

.sorting-menu a {
  margin: 0 10px;
  text-decoration: none;
}

.sorting-option {
  background-color: #F9A70C;
  border-radius: 20px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.sorting-option:hover {
  background-color: yellow;
}


/****************************************************
How list of users are displayed on left column
*****************************************************/

#user-list {
  font-size: 20px;
}

#all-users-text {
  width: 120px;
}

.instructions {
  margin: 10px 0;
  text-align: center;
}

div.user-list{
  font-size: 20px;
}

ul.all-usernames {
  position: absolute;
  left: 5px;
}

.username {
  cursor: pointer;
}

.username:hover {
  background-color: #bdbdbd;
}

#list-of-all-users {
  height: 450px;
  overflow: scroll;
}

/****************************************************
How single user is displayed on right column
*****************************************************/

#user-info {
  font-size: 20px;
}

.single-user-pic {
  margin-top: 15px;
  text-align: center;
  height: 275px;
  overflow: hidden;
  width: 100%;
}

img{
  border-radius: 25px;
}

.single-user-info {
  font-size: 18px;
}

/****************************************************
How usernames are displayed
*****************************************************/

li {
  list-style: none;
}

li.username {
  width: 100px;
  font-size: 20px
}