h1 {
  color: blue;
  text-align: center;
}

/****************************************************
Search Bar
*****************************************************/

.search-bar {
  text-align: center;
}

input.search-input {
  width: 500px;
  height: 30px;
  font-size: 20px;
}

input.search-button {
  width: 75px;
  height: 30px;
  font-size: 18px;
}

.search-results {
  width: 100%;
  height: 20px;
}


/****************************************************
Sorting Dropdown
*****************************************************/

div.user-list {
  float: left;
}

li.sorting-menu {
  position: relative;
  left: 100px;
}

div.sorting-menu {
  position: absolute;
  left: 250px;

}

div.dropdown-content {
  display: none;
}

div.dropdown-content:hover {
  display: block;
}

a.dropbtn:hover + div.dropdown-content {
  display: block;
}

/*div.sorting-menu:  {

}*/

/*li a, .dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

/*li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

a .dropbtn:hover .dropdown-content {
    display: block;
}*/




.container {
  width: 100%;
}

.all-users {
  float: left;
  width: 50%;
}

.sorting-buttons {
  float: left;
}


.username {
  cursor: pointer;
}